
#pattern-image{
    height: 175px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: #4EA0FF;
}

#logo{
    height: 50px;
    margin-top: 125px;
}

.title{
    font-size: 60px;
    font-weight: bold;
}

.didascalia{
    font-size: 15px;
    color: #808080;
}

#autore{
    color: #20A9E5;
}

.tim-images{
    margin-top: 10px;
    width: 925px;
    height: 500px;
}

th{
    width: 750px;
    background-color:  #20A9E5;
    color: white;
}

.blue-row{
    background-color: #B1E5F2;
}