
#pattern-image{
    height: 175px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: #4EA0FF;
}

#logo{
    height: 50px;
    margin-top: 125px;
}

.title{
    font-size: 60px;
    font-weight: bold;
}

.didascalia{
    font-size: 15px;
    color: #808080;
}

#autore{
    color: #20A9E5;
}

.tim-images{
    margin-top: 10px;
    width: 800px;
    height: 500px;
}

th{
    width: 750px;
    background-color:  #20A9E5;
    color: white;
}

.blue-row{
    background-color: #B1E5F2;
}

.importante{
    font-size: 20px;
    margin-bottom: 5px;
}

.interesse{
    color: white;
    font-size: 25px;
}

.uno{
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 200px;
}

.due{
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 200px;
    margin-top: 10px;
}

.lista{
    padding-left: 15px;
}

#tabella-dati{
    border-collapse: collapse;
    text-align: left;
}